.App {
  text-align: center;
  width: 60%;
  margin: 50px auto;
  border: 2px solid black;
  height: 80%;
}

.section1,
.section2 {
  border: 2px solid black;
  margin: 0 auto;
  padding: 20px;
  margin: 40px;
}

.section2 {
  text-align: left;
  height: 200px;
  overflow: auto;
}
.warning span {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
p {
  font-weight: bold;
}

button {
  background: white;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

button.add {
  color: green;
  border: 2px solid darkgreen;
}

button.remove {
  color: red;
  border: 2px solid red;
}

.error {
  font-weight: normal;
  color: red;
}